//- includes/header/header.pug

header.intro
  .intro-body
    .container
      h1.intro-heading Election App 2017
      |                 
      h2 The 2016 presidential election is here!
      |                 
      p.intro-text
        b Who do you support and what are your comments? Join the conversation.
      |                 
      p
        a.btn.btn-primary.btn-lg(href='#', role='button') Sign Up Now &raquo;