/*!
 * Bootstrap - ElectionApp2017 v3.3.7
 */

/* Global Styles */

html,
body {
    height: 100%;
}

body {
    padding-top: 50px;
}


/* navbar-custom */


.navbar-custom {
  text-transform: uppercase;
  top: 0;
  left: 0;
  background-color: #ffffff;
}


.navbar-custom .navbar-brand {
  font-size: 16px;
  color: #777777;
}

.navbar-custom .navbar-toggle {
  padding: 0 2px;
  font-size: 16px;
}

.navbar-custom .navbar-toggle:active,.navbar-custom .navbar-toggle:focus {
  outline: 0;
}

.formLogin {
    padding: 15px; 
    min-width:300px;
}

/* Home Page Header */
.intro {
  background-color:#eeeeee;
  padding-top: 50px;
  padding-bottom: 50px;
  background: url(../images/splashImage1456.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:480px; 
}

.intro .intro-body .intro-heading {
  color:009900;
}

.intro .intro-body .intro-text {
    margin-bottom:15px;
    font-size:21px;
    font-weight:200;
}

.intro .container {
    padding-top: 60;
    max-width:100%
}

@media (min-width:768px){
    .navbar-custom .navbar-toggle {
      display: none;
    }
    .intro{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .container .intro,.container-fluid .intro{
        padding-right: 60px;
        padding-left: 60px;
    }
    .intro .h1,.intro h1{
        font-size: 63px;
    }
}

@media (max-width:768px){
    .intro{
        padding-top: 32px;
        padding-bottom: 32px;
        background-position-x:30%;
        height:420px;
    }
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }
}

.modal-backdrop, 
.modal-backdrop.fade.in{
  opacity: .2;
  filter: alpha(opacity=100);
  background: #000000;
}
