.mobile main {
	position: fixed;
	top: 50px;
	right: 0;
	bottom: 40px;
	left: 0;
	overflow-y: auto;
	min-height: 0;
}

@media screen and (max-width: 1024px) {
	.mobile .contentWrapper {
		width: 100%;
		max-width: 100%;
	}

	.mobile main .contentWrapper {
		padding: 0;
	}
	.mobile main #topSection .contentWrapper {
		padding: 0 10px;
	}

	.mobile main .contentWrapper > p {
		margin: 1em 10px;
	}
	.mobile main #topSection .contentWrapper p {
		margin: 1em 0;
	}
}

/*******************************************************************************
 * LIGHTBOX STYLES
 ******************************************************************************/
.mobile #lightboxContentHolder {
	width: 100%;
	height: 100%;
	max-width: 100%!important;
	max-height: 100%!important;
	border: 0;
	padding-top: 35px;
}

.mobile #lightboxClose {
	font-size: 15px;
	top: 15px;
	right: 10px;
}

/*******************************************************************************
 * NAVIGATION STYLES
 ******************************************************************************/
.mobile header #navBackground {
	border-bottom: 0px;
	height: 50px;
	opacity: 1;
	background: #ffffff!important;
}
.mobile header.menuOpen #navBackground {
	bottom: 0px;
	right: 0px;
	height: auto;
}

.mobile header nav {
	display: none;
}

.mobile header nav.mobile {
	border-top: 1px solid #ea1b2a;
	position: relative;
	float: left;
	padding: 0;
	width: 100%;
}
.mobile header.menuOpen nav.mobile {
	display: block;
}

.mobile header nav.mobile ul {
	padding: 0 20px;
	width: 100%;
	margin: 0 auto;
	text-align: left;
	margin-bottom: 0px;
}

.mobile header nav.mobile li {
	font-size: 40px;
	line-height: 30px;
	min-height: 40px;
	width: 100%;
	border-top: 1px solid #eeeeee;
	padding-left: 0;
}
.mobile nav ul li:first-child {
	border-top: 0px;
}

.mobile header nav.mobile a {
	border-bottom: 0px!important;
	color: #0c5caa;
	font-size: 14px;
	font-weight: normal;
	display: inline-block;
	width: 100%;
	padding: 5px 0;
}

@media screen and (max-height: 480px) {
	.mobile header.menuOpen {
		height:	100%;
	}

	.mobile header.menuOpen .contentWrapper {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.mobile header nav.mobile {
		position: absolute;
		top: 50px;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: auto;
	}
}

.mobile header br {
	display: none;
}

/*******************************************************************************
 * HEADER STYLES
 ******************************************************************************/
.mobile header {
	position: fixed;
	top: 0px;
	left: 0px;
	border-bottom: 0px;
	z-index: 100;
}

.mobile header .contentWrapper {
	min-height: 50px;
	padding: 0px;
	position: relative;
	height: auto;
}

.mobile header .menuIcon {
	display: inline-block;
	float: left;
	cursor: pointer;
}

.mobile header .menuIcon#openMenu {
	height: 20px;
	width: 27px;
	margin: 15px 0 15px 10px;
}
.mobile header.menuOpen .menuIcon#openMenu {
	display: none;
}

.mobile header .menuIcon#closeMenu {
	height:	20px;
	width: 20px;
	margin: 15px 3px 15px 14px;
	display: none;
}
.mobile header.menuOpen .menuIcon#closeMenu {
	display: inline-block;
}

.mobile header .mainLogo {
	padding-top: 0px;
	padding-bottom: 0px;
}

.mobile header #indexMainLogo {
	width: 200px;
	height: 39px;
	margin-top: 5px;
	margin-left: -50px;
}

/*******************************************************************************
 * FOOTER STYLES
 ******************************************************************************/
.mobile footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 40px;
	border: 0px;
	padding: 5px 0;
}

.mobile footer #socialPages {
	margin-bottom: 5px;
	height: 15px;
}

.mobile footer #socialPages a {
	margin: 0 15px;
}

.mobile footer #socialPages a img {
	width: 15px!important;
	height: 15px!important;
}

.mobile footer nav {
	display: none;
}

.mobile footer p {
	display: none;
}
.mobile footer p.mobile {
	display: block;
	font-size: 9px;
}

/*******************************************************************************
 * TOP SECTION STYLES
 ******************************************************************************/
.mobile #topSection h1 {
	margin-bottom: 5px;
}

.mobile #topSection .buttonWrap {
	padding-bottom: 25px;
}

/*******************************************************************************
 * BUTTON STYLES
 ******************************************************************************/
@media screen and (max-width: 550px) {
	.mobile div.button, .mobile #topSection div.button {
		width: 90%;
		padding: 10px 20px;
		margin: 5px 2%;
		border: 3px solid #CF0A2C;
		line-height: 24px;
		height: auto;
	}

	.mobile #topSection div.button:last-of-type {
		margin-bottom: 15px;
	}

	.mobile div.button:hover, .mobile div.button.current{
		border: 3px solid #FFFFFF;
	}
}

/*******************************************************************************
 * ROW BOX SECTION STYLES
 ******************************************************************************/
.mobile .revealImageSection hr, .mobile .revealImageSection p {
	display: none;
}

.mobile .revealImageContent {
	border: 3px solid #CF0A2C;
	border-top: 0px;
}

.mobile #bodySection a:nth-child(3n+2) .revealImageContent {
	border-left: 0px;
}

.mobile #bodySection a:nth-child(3n+3) .revealImageContent {
	border-left: 0px;
}

.mobile .revealImageSection.current .sectionIcon img,
.mobile .revealImageSection:hover .sectionIcon img {
	float: left;
}

@media screen and (max-width: 980px) {
	.mobile .revealImageSection {
		width: 50%;
	}

	.mobile a:nth-child(odd) .revealImageContent {
		border-left: 3px solid #CF0A2C!important;
	}

	.mobile a:nth-child(even) .revealImageContent {
		border-left: 0!important;
	}
}

/*******************************************************************************
 * EXPAND COLLAPSE SECTION STYLES
 ******************************************************************************/
.mobile .expandSection .expandTitle h1 {
	font-size: 30px;
	color: #231F20;
}
.mobile .expandSection.current .expandTitle h1 {
	color: #CF0A2C;
}

@media screen and (max-width: 1024px) {
	.mobile .expandSection {
		border-left: 0;
		border-right: 0;
	}
}

@media screen and (max-width: 600px) {
	.mobile .expandSection .expandTitle {
		padding: 15px 15px;
	}

	.mobile .expandSection .expandContentWrap {
		padding: 0 30px;
	}
}

/*******************************************************************************
 * FORM STYLES
 ******************************************************************************/
.mobile form {
	padding: 0 15px;
}

.mobile form tr.labelRow {
	display: table-row;
}
.mobile form tr.labelRow td {
	padding-bottom: 0px;
}

.mobile form .inputCell {
	padding-left: 0;
}

.mobile form .labelCell {
	display: none;
}

.mobile form input[type="text"], .mobile form input[type="tel"],
.mobile form input[type="email"], .mobile form textarea, .mobile form input[type="text"]:disabled {
	font-size: 20px;
	border-radius: 0;
	-webkit-appearance: none;
	border: 2px solid #CF0A2C;
	-webkit-text-fill-color: #414042;
	opacity: 1;
	color: #414042;
}
.mobile form input[type="submit"], .mobile form input[type="button"] {
	border-radius: 0;
	-webkit-appearance: none;
}

.mobile form .inputCell label.mobile {
	font-size: 20px;
	line-height: normal;
	display: inline-block;
	float: left;
}
.mobile form .styledRadio {
	margin-top: 14px;
}
.mobile form div.styledRadio:first-of-type {
	clear: left;
}
.mobile form .styledRadio + label {
	margin-right: 30px;
	font-size: 20px;
	margin-top: 12px;
}

.ui-widget {
    font-size: 30px;
    width: 100%!important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 2px solid #CF0A2C;
    color: #58595B;
}
.ui-selectmenu-button span.ui-icon {
    right: 28px;
    left: auto;
    margin-top: -13px;
    position: absolute;
    top: 50%;
}
.ui-state-default .ui-icon {
    background-image: url("/assets/images/mobile/dropDownArrow.png");
}
.ui-icon {
    width: 30px;
    height: 26px;
    display: block;
    background-repeat: no-repeat;
}
.ui-selectmenu-button {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    outline: none;
}
.ui-selectmenu-button span.ui-selectmenu-text {
    padding: 20px 68px 20px 9px;
    display: block;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
.ui-selectmenu-menu {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow-y: hidden;
}
.mobile .ui-selectmenu-menu {
	right: 15px;
	bottom: 15px;
}
.ui-selectmenu-open {
    display: block;
}
.ui-front {
    z-index: 1000;
}
.ui-selectmenu-menu .ui-menu {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-background-clip: content-box;
    background-clip: content-box;
    height: 100%;
}
.ui-widget-content {
    border: 2px solid #CF0A2C;
    border-top: 0px;
    background: #FFFFFF;
    color: #58595B;
}
.ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: none;
}
.ui-menu .ui-menu-item {
    position: relative;
    margin: 0;
    cursor: pointer;
    min-height: 0;
    text-align: center;
    line-height: 72px;
}
.ui-menu li:nth-of-type(odd) {
	background: #EBEBEC;
}

/*******************************************************************************
 * CONTENT SECTION STYLES
 ******************************************************************************/
.mobile main .contentWrapper .bodySection.mobile.current {
	display: block;
}

.mobile .bodySection ul.dashStyle {
	padding-left: 20px;
	margin-top: 0;
}

.mobile .bodySection ul.dashStyle li {
	font-size: 20px;
	line-height: 36px;
}

/*******************************************************************************
 * SOCIAL MEDIA BUTTON STYLES
 ******************************************************************************/
.mobile .sharing .button {
	font-size: 17px;
	width: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 30px;
	padding: 0 18px;
	height: 34px;
	border: 0!important;
}
.mobile .sharing .button.fbShare, .mobile .sharing .button.twitterTweet {
	padding: 0;
	height: 28px;
}

/*******************************************************************************
 * IMAGE GALLERY STYLES
 ******************************************************************************/
.mobile .images .slick-list, .mobile #lightbox .imageGallery #bigViewControl .slick-list {
	box-sizing: border-box;
}

@media screen and (max-height: 600px) {
	.mobile #lightbox .imageGallery #bigView, .mobile #lightbox .imageGallery #bigView .galleryImage {
		height: 280px;
	}
}

/*@media screen and (max-width: 789px) {
	.mobile .images .slick-list, .mobile #lightbox .imageGallery #bigViewControl .slick-list {
		max-width: 450px;
	}
}*/