// Page Content
.container
  // Latest News Grid Section
  section#latest-news
    .container
      .row
        .col-lg-12.text-center
          h2 Latest News
          hr
      .row
        // ++++++
  // About Section
  section#about.success
    .container
      .row
        .col-lg-12.text-center
          h2 About
          hr
      .row
        // ++++++
  // Contact Section
  section#contact
    .container
      .row
        .col-lg-12.text-center
          h2 Contact Us
          hr
      .row
        // ++++++