include mixins/mixins

doctype html

html(lang="en-US")

  head
  
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible' content='IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description" content="Election App 2017")

    block metas

    block title

    link(href='data:image/x-icon;', type='image/x-icon', rel='shortcut icon') 
    intercept-url(pattern="/favicon.ico" access="ROLE_ANONYMOUS")
    link(href='', rel='stylesheet')
    link(href='', rel='stylesheet')

    block links

    script(src='')
    script(src='')

    block headScripts

    script.
      var isSafari = (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1)
      var interactiveFormValidationEnabled = false
      var appVersion = navigator.appVersion
      var webkitVersion1 = appVersion.indexOf('AppleWebKit/') + 12
      var webkitVersion2 = webkitVersion1 + 3
      var webkitVersion = appVersion.slice(webkitVersion1, webkitVersion2)
      webkitVersion = parseInt(webkitVersion, 10)
      if (webkitVersion >= 603 || !isSafari) {
        interactiveFormValidationEnabled = true
      }     
  |     
  body#page-top.index
    #skipnav
      a(href='#maincontent') Skip to main content

    // Navigation
    nav#mainNav.navbar.navbar-default.navbar-fixed-top.navbar-custom
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  Menu 
            i.fa.fa-bars
          |                     
          a.navbar-brand(href='#page-top') Start Election App 2017
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='#page-top')
            |                         
            li.page-scroll
              a(href='#latest-news') Latest News
            |                         
            li.page-scroll
              a(href='#about') About
            |                         
            li.page-scroll
              a(href='#contact') Contact
        // /.navbar-collapse
      // /.container-fluid

    // Header
    header
      #maincontent.container(tabindex='-1')
        .row
          .col-lg-12
            img.img-responsive(src='', alt='')
            |                         
            .intro-text
              h1.name Welcome To Election App 2017
              |                             
              hr
              |                             
              span Communicate with other Election App members!

    // View Container
    block content

    // Footer
    footer.text-center
      .container
        .row
          .col-lg-12
              p
                Copyright &copy; This Great Election App 2017

    block bodyScripts
      script(src='')
