include mixins/mixins

doctype html

html(lang="en-US")

  head

    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible' content='IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description" content="Election App 2017")
    block metas

    block title

    link(href='data:image/x-icon;', type='image/x-icon', rel='shortcut icon') 
    intercept-url(pattern="/favicon.ico" access="ROLE_ANONYMOUS")
    link(href='/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/electionapp2017.css', rel='stylesheet')
    block links

    block headScripts

    script.
      var isSafari = (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1)
      var interactiveFormValidationEnabled = false
      var appVersion = navigator.appVersion
      var webkitVersion1 = appVersion.indexOf('AppleWebKit/') + 12
      var webkitVersion2 = webkitVersion1 + 3
      var webkitVersion = appVersion.slice(webkitVersion1, webkitVersion2)
      webkitVersion = parseInt(webkitVersion, 10)
      if (webkitVersion >= 603 || !isSafari) {
        interactiveFormValidationEnabled = true
      } 

  body.index


    // Nav
    include includes/nav/nav.pug


    // Header
    include includes/header/header.pug


    // View Container
    block content


    // Footer
    include includes/footer/footer.pug


    // jQuery
    script(src='/vendor/jquery/jquery-min-3.2.1.js')

    // Bootstrap Core JavaScript
    script(src='/vendor/bootstrap/js/bootstrap-min-3.3.7.js')

    // Plugin JavaScript
    script(src='/vendor/jquery/jquery-easing-1.3.js')

    // Theme JavaScript
    script(src='/js/app/electionapp2017.js')

    block bodyScripts
