include mixins/mixins

doctype html

html(lang="en-US")

  head

    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible' content='IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description" content="Election App 2017")
    block metas

    block title

    link(href='data:image/x-icon;', type='image/x-icon', rel='shortcut icon') 
    intercept-url(pattern="/favicon.ico" access="ROLE_ANONYMOUS")
    link(href='/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/electionapp2017.css', rel='stylesheet')
    link(href='/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type="text/css")
    block links

    block headScripts

    script.
      var isSafari = (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1)
      var interactiveFormValidationEnabled = false
      var appVersion = navigator.appVersion
      var webkitVersion1 = appVersion.indexOf('AppleWebKit/') + 12
      var webkitVersion2 = webkitVersion1 + 3
      var webkitVersion = appVersion.slice(webkitVersion1, webkitVersion2)
      webkitVersion = parseInt(webkitVersion, 10)
      if (webkitVersion >= 603 || !isSafari) {
        interactiveFormValidationEnabled = true
      } 

  body

    // nav
    include includes/nav/nav.pug

    // view content/container
    div(id="content")
      block content

    // body scripts
    include includes/body-scripts/scripts.pug

    block bodyScripts
