
extends layout

block metas
  meta(name="csrf-token", content= `${csrfToken}`)

block title
  title Log In

block links

block headScripts

block bodyScripts
  script(src='/js/views/loginHelpers.js')

  - if ( err )
    script.
      $('#modalAlert .modal-title').html( '!{err.title}' )
      $('#modalAlert .alertDanger').html( '!{err.alert}' )
      $('#modalAlert #errScrollbox').html( '!{err.message}' )
      $('#modalAlert .alertDanger').addClass('show').removeClass('hide')
      $('#modalAlert').modal({keyboard: false,backdrop: 'static'})

block content

  .container

    // Page Heading/Breadcrumbs
    .row
      .col-lg-12
        h1.page-header
          | Welcome back!
          // <small></small>
        |                 
        ol.breadcrumb
          li
            a(href='#') Home
          |                     
          li.active Log In

    // Log In form
    .row
      .col-lg-12
        h3 Please sign in
        |                 
        form(action="http://127.0.0.1:3000/api/logincredentials", id="loginForm", name="loginForm", method="post", enctype="application/x-www-form-urlencoded")
          div.form-group(id="login-email")
            .controls
              label Email Address:
              |                             
              input.form-control(name="email", placeholder="Email Address", type="text", title="Please enter a valid Email Address", required)
          |                     
          div.form-group(id="login-password")
            .controls
              label Password:
              |                             
              input.form-control(name="password", placeholder="Password", type="password", autocomplete="off", title="Please enter your Password", required)
              |                             
              p.help-block
          |                     
          .control-group.form-group
            #success
            |                     
            button(type="submit", class="btn btn-primary btn-md", id="loginSubmitBtn") Submit

    .row
      .col-xs-12(style="margin-top:8px;")
        .text-danger.hide.loginerror Email and Password are required. Please try again.

    .row
      .col-xs-12(style="margin-top:8px;")
        .text-danger.hide.formerror
          strong Login failed!

    // Forgot Password
    .row
      .col-lg-12
        i
          a(href="#" id="forgotPasswordAnchor", onclick="helper.clearForgotPassword();") Forgot your password?

    .modal.fade(id='modalAlert', tabindex='-1')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button" data-dismiss="modal") &times;
            h4.modal-title

          .modal-body

            .alertSuccess.alert.alert-success.hide(role="alert", style="margin-top: 10px; margin-bottom: 22px;")
            .alertWarning.alert.alert-warning.hide(role="alert", style="margin-top: 10px; margin-bottom: 22px;")
            .alertDanger.alert.alert-danger.hide(role="alert", style="margin-top: 10px; margin-bottom: 22px;")

            div(id="errScrollbox")

            button(class="btn btn-default btn-md", data-dismiss="modal", style="margin-top: 6px;") OK

          .modal-footer

    .modal.fade(id="forgotPasswordFormModal", name="forgotPasswordFormModal", tabindex='-1')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button" data-dismiss="modal") &times;
            h4.modal-title Forgot your password?

          .modal-body

            form(action="https://localhost:3000/api/forgotpassword", id="forgotPasswordForm", name="forgotPasswordForm", method="post", enctype="application/x-www-form-urlencoded")

              .formLead
                p Please enter your email address below and we will send instructions on how to reset your password.

              fieldset

                .alertWarning.alert.alert-warning.hide(role="alert", style="margin-top: 6px; margin-bottom: 12px;")

                div.form-group(id="forgot-password")

                  label.control-label(style="margin-top:10px;") Email:

                  input.form-control.input-md(name="email", placeholder="Email Address", title="Please enter a valid Email Address", type="email", required)

                  .text-danger.hide.loginerror(style="margin-top:8px;") Email is required

                button(class="btn btn-default btn-md modalOkayBtn" data-dismiss="modal" style="display:none;") OK
                |
                div(class="modalCancelSubmitBtns")
                  button(class="btn btn-default btn-md cancelButton" data-dismiss="modal") Cancel
                  | &nbsp;&nbsp;&nbsp;&nbsp;
                  button(type="submit", id="forgotPasswordSubmitBtn", name="forgotPasswordSubmitBtn", class="btn btn-primary btn-md") Submit

          .modal-footer
            .loading(style="display:none;")

    .modal-backdrop.fade.in(style="display: none;")
       img(src="/images/ajax-loader.gif" style="position: fixed; top: 45%; left: 49%;")

    hr

    // Footer
    include includes/footer/footer.pug
