
extends layout

block metas

block title
  title An Application Error Has Occurred

block links

block headScripts

block bodyScripts
  - if ( err )
    script.
      $('.err-title').html( '!{err.title}' )
      $('.alertDanger').html( '!{err.alert}' )
      $('#errScrollbox').html( '!{err.message}' )
      $('.alertDanger').addClass('show').removeClass('hide')

block content

  .container

    // Page Heading/Breadcrumbs
    .row
      .col-lg-12
        h1.page-header
          | An Application Error Has Occurred
          // <small></small>
        |                 
        ol.breadcrumb
          li
            a(href='#') Home
          |                     
          li.active Application Error

    // Notify Error Message
    .row
      .col-lg-12
        .panel-body

          h3.err-title

          .alertSuccess.alert.alert-success.hide(role="alert", style="margin-top: 10px; margin-bottom: 22px;")
          .alertWarning.alert.alert-warning.hide(role="alert", style="margin-top: 10px; margin-bottom: 22px;")
          .alertDanger.alert.alert-danger.hide(role="alert", style="margin-top: 10px; margin-bottom: 22px;")

          div(id="errScrollbox")

    hr

    // Footer
    include includes/footer/footer.pug
