
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Location</h3>
          <p>32323 3rd Avenue<br>New York, NY 10016</p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Footer Header 3</h3>
          <ul class="list-inline">
            <li><a class="btn-social btn-outline" href="#"><span class="sr-only"></span><i></i></a></li>
            <li><a class="btn-social btn-outline" href="#"><span class="sr-only"></span><i></i></a></li>
            <li><a class="btn-social btn-outline" href="#"><span class="sr-only"></span><i></i></a></li>
            <li><a class="btn-social btn-outline" href="#"><span class="sr-only"></span><i></i></a></li>
            <li><a class="btn-social btn-outline" href="#"><span class="sr-only"></span><i></i></a></li>
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>About Election App2017</h3>
          <p>election App 2017 <a href="">This Great Website</a>.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <copyright>&copy; ElectionApp2017 2017</copyright>
        </div>
      </div>
    </div>
  </div>
</footer>