
// jQuery
script(src='/vendor/jquery/jquery-min-3.2.1.js')

// Bootstrap
script(src='/vendor/bootstrap/js/bootstrap-min-3.3.7.js')

// Client-Side Router
script(src='/vendor/director/director.min.js')

// App-Wide Js
script(src='/js/electionapp2017.js')