//- includes/footer/footer2.pug

footer.text-center
  .footer-above
    .container
      .row
        .footer-col.col-md-4
          h3 Location
          p
            | 32323 3rd Avenue
            br
            | New York, NY 10016
        .footer-col.col-md-4
          h3 Footer Header 3
          ul.list-inline
            li
              a.btn-social.btn-outline(href='#')
                span.sr-only
                i
            li
              a.btn-social.btn-outline(href='#')
                span.sr-only
                i
            li
              a.btn-social.btn-outline(href='#')
                span.sr-only
                i
            li
              a.btn-social.btn-outline(href='#')
                span.sr-only
                i
            li
              a.btn-social.btn-outline(href='#')
                span.sr-only
                i
        .footer-col.col-md-4
          h3 About Election App2017
          p
            | election App 2017 
            a(href='') This Great Website
            | .
  .footer-below
    .container
      .row
        .col-lg-12
          copyright &copy; ElectionApp2017 2017